{% extends 'base.html' %}

{% block title %}{{ post.title }}{% endblock%}

{% block content %}

 <section class="news-block">
         <div class="container-fluid">
             <div class="news-block__content">
                 <h3 class="mb-10">{{ post.title }}</h3>
              <p class="mb-15">{{ post.created_at|date:"d.m.Y"}}</p>
                 <img src="{{ post.image_url}}" alt="" class="rounded-full-img">
             <p class="mb-15">{{ post.description }}</p>
                 <a href="#">{{ post.category.name }}</a>
             </div>
             <div class="news-block__adv">
                 <h3>Advertising</h3>
                 <div class="news-adv__card">
                  <div class="news-adv__card">

                     <img src="https://tb-static.uber.com/prod/image-proc/processed_images/6ce79b1a63a43a0939d48dcec6b89d75/d9be3fc772fc6c0fd6b3471e291aa823.jpeg" alt="Popeys" class="news-adv__img">

                     <img src="https://static-cse.canva.com/blob/584512/ar2009brand.jpg" alt="ozone" class="news-adv__img">

                     <img src="https://cdn.nur.kz/images/1200x675/7e64e998b5569d92.jpeg?version=1" alt="Kaspi" class="news-adv__img">

                     <img src="https://i.pinimg.com/originals/b0/1c/32/b01c32875518c427e12fa09e3de31f5a.png" alt="Coca-cola" class="news-adv__img">

                 </div>
                 </div>
             </div>
         </div>
     </section>
{% endblock %}